<div class="container" ng-controller="ContatosCtrl">
	<div class="well">
		<input type="text" class="form-control" ng-model="busca" placeholder="Buscar">
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>E-mail</th>
			</tr>
			<tr ng-repeat="c in contatos | orderBy: 'salario' | filter: busca">
				<td><input type="checkbox" ng-model="c.selecionado"> </td>
				<td>{{ c.nome }}</td>
				<td>{{ c.telefone }}</td>
				<td>{{ c.email }}</td>
			</tr>
		</table>
		<h4>Adicionar Contato</h4>
		<input type="text" class="form-control" ng-model="contato.nome" placeholder="Nome">
		<input type="text" class="form-control" ng-model="contato.telefone" placeholder="Telefone">
		<input type="text" class="form-control" ng-model="contato.email" placeholder="E-mail">
		<input type="button" class="btn btn-primary btn-block" value="Adicionar" ng-click="addContato(contato)">
		<input type="button" class="btn btn-danger btn-block" value="Remover" ng-click="delContato(contatos)">
	</div>
</div>